
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HelloWorld.Models.MessageModel
<h2>Hello World</h2>
@ViewBag.WelcomeString;
<b>@ViewBag.Data</b>

<p><i>@Model.Webcome</i></p>
